#board {
  width: 100vw;
  display: none;
}

.cell {
  cursor: pointer;
  height: 16vw;
  width: 16vw;
  border: 1px solid black;
}

.player {
  padding: 4px;
}

.your-turn {
  border: 3px solid red;
  border-radius: 50%;
}