#name {
  padding: 5px;
}

#board {
  display: none;
}

.cell {
  cursor: pointer;
  text-align: center;
  font-size: 48px;
  height: 75px;
  width: 75px;
  border: 1px solid black;
}

.player {
  padding: 4px;
}

.your-turn {
  border: 3px solid red;
  border-radius: 50%;
}